@CHARSET "EUC-KR";
 /***********************************************************************
  * 작업자 : 이승우
  * 작업일자 : 14.11.22 시작 ~
  * 어떤 파일에 호출받는가 : main.jsp
  * 어떤 파일을 호출하는가 : 
  * 파일 타입 : CSS
  * 14.11.22_이승우 : 반응형레이아웃 테스트
  ***********************************************************************/
  
  
/* 반응형 레이아웃 : if 모바일버전[ver0.1 by.이승우] */
@media screen and (max-width:480px) {
.Catalogue { width: 480; margin: 0px auto;}		
.Catalogue-Box {width: 320px; padding: 50px; float: none;}
.Catalogue-No {display: none;} 
}